.custom-select-container {
  position: relative;
  width: 100%;
}

.custom-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: white;
  color: black;
  border: 1px solid #00BFA5;
  border-radius: 5px;
  cursor: pointer;
}

.react-datepicker-wrapper{
  border: 1px solid #00BFA5!important;
  height: 42px !important;
}

.custom-select.open {
  border-radius: 0.25rem 0.25rem 0 0;
}

.custom-select .placeholder {
  flex: 1;
  margin-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-select .placeholder.default {
  color: #aaa;
}

.custom-select svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #aaa;
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 191, 165, 0.2);
}

.options-container {
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.option {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #00BFA5;
}

.option:hover {
  background-color: #f2f2f2;
}

.option.selected {
  background-color: #00BFA5;
  color: white;
}

.nameDisplay{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px;
}

.nameDisplay .ciudad{
  color: #000000;
}
.nameDisplay .pais{
  font-size: small;
  color: #9496a9;
}

.option svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #aaa;
}

.option.selected svg {
  fill: white;
}

.option span {
  flex: 1;
  color: #555;
  font-size: 14px;
}

.placeholder input{
  width: 100%;
  background-color: white;
  border: 0;
}

.placeholder input:focus-within {
  outline: none;
  border: none;
}

/* Estilo para el scroll */
.options-container::-webkit-scrollbar {
  width: 6px;
}

.options-container::-webkit-scrollbar-thumb {
  background-color: #00b894;
}

.options-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
