@use '@scss/_variables' as _;

.NotFound{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(81, 96, 100);
  background-image: url('/404 Hotel.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 99.5vh;
  width: 99.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }

  .button {
    
        border: 1px solid _.$primary;
        border-radius: 5px; 
        padding: 0.3rem 2rem;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        // background-color: _.$primary;
        color: white;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12));

        &:hover {
            background-color: rgb(59, 168, 161);
        }
    }
}
