.loading{
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  flex-direction: column;

}
.loading-text{
  color: #1DBEB4;
  -webkit-text-stroke: 1.1px rgb(0 0 0);
  font-size: 2rem;
  min-width: 300px;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  margin: 20px auto;
}
.loader::after {
  content: '';  
  width: 48px;
  height: 48px;
  top: 41%;
  left: 47.4%;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid #1dbeb4;
  transform: rotate(45deg) translate(0, 0);
  animation: animMarker 0.4s ease-in-out infinite alternate;
}
.loader::before {
  content: '';  
  position: absolute;
  margin: auto;
  top: 48.7%;
  left: 48.05%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.75);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }
  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
    